.TodoItem {
  background-color: #FAFAFA;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TodoItem-p {
  margin: 1rem 0 1rem 1rem;
  width: calc(100% - 5rem);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222f3e;
}

.Icon-check {
  position: absolute;
  left: .5rem;
}

.Icon-check:hover {
  color: #4caf50;
}

.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 2rem;
}

.Icon-delete:hover {
  color: red;
}